/* E-Shop Layout Scoped Styles */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1a73e8;
    border-color: #1557b0;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}